.featured-events {
    margin-top: 20px;

    .heading-style {
        font-size: 24px;
        padding-left: 10px;
        margin-bottom: 30px;
    }

    .fe-items-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 22px;
        margin: 10px;

        .fe-card-wrapper {
            box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px 0px;

            border-radius: 5px;

            @media screen and (min-width: 1200px) {
                width: 31.5%;
            }

            @media screen and (min-width: 768px) and (max-width: 1199px) {
                width: 48%;
            }

            @media screen and (max-width: 767px) {
                width: 100%;
            }

            @media screen and (max-width: 460px) {
                padding: 20px 10px;
            }

            @media screen and (min-width: 461px) {
                padding: 5px 10px;
            }

            .bc-card-text {
                @media screen and (min-width: 461px) {
                    width: calc(100% - 110px);
                }

            }

            .bc-date {
                .event-date {
                    font-size: 12px;
                }

                .bc-category {
                    padding: 4px 10px;
                    background: #e5eff9;
                    border-radius: 5px;
                    font-size: 12px;
                }
            }

            .fe-card-image-wrapper {
                display: flex;
                align-items: center;

                @media screen and (max-width: 460px) {
                    flex-direction: column-reverse;
                    text-align: center;
                    gap: 20px;
                }

                .c-heading {
                    font-size: 16px;
                    line-height: 1.4;
                    margin: 0;
                    max-width: 250px;
                    margin-bottom: 1rem;
                }

                .bc-avatar {
                    margin-left: 10px;
                    border: 1px solid #dee2e6 !important;

                    // margin-bottom: 10px;
                    img {
                        width: 90px
                    }
                }

                .event-location {
                    font-size: 12px;
                }

                .c-text {
                    font-size: 13px;
                }
            }

        }

    }
}

.featured-events-slider {
    .slick-dots {
        top: -30px;
        bottom: auto;

        li {
            width: 15px;
            height: 15px;
            background-color: #e5eff9;
            border-radius: 50%;

            &.slick-active {
                background-color: #2aa9e8;
            }
        }
    }
}