.featured-organizers-section {
    @media screen and (max-width: 576px) {
        padding: 0 15px;
    }
    .heading-style {
        font-size: 24px;
        padding-left: 10px;
    }

    .featured-organizers-card-wrapper {

        // display: flex;
        // flex-wrap: wrap;
        // gap: 22px;
        .fo-card-style {
            box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px 0px;
            border-radius: 5px;
            width: calc(100% - 20px);
            position: relative;
            background: #fff;
            padding: 20px;
            text-align: center;
            margin: 10px;
            display: block;
            .card-image {
                height: 60px;
                max-width: 100%;
                margin: auto;
            }

        }

        .slick-next.slick-arrow,
        .slick-prev.slick-arrow {
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px 0px;
            border-radius: 50%;
            height: 24px;
            width: 24px;

            &::before {
                display: none;
            }

            i {
                font-size: 10px;
                color: #000;
            }
        }
    }

    .featured-events-item {
        margin: 10px;
    }
}