.popular-speakers-section{
    .heading-style {
        font-size: 24px;
    }
    .popular-speakers-card-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 22px;
        .ps-card-style {
            box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px 0px;
            border-radius: 5px;
            width: 32%;
            position: relative;
            background: #fff;
            display: flex;
            align-items: center;
            padding: 10px 10px;
            .ps-card-img {
                height: 80px;
                max-width: 100%;
                margin-right: 10px;
            }
            .card-content {
                position: relative;
                padding-right: 16px;
                width: calc(100% - 90px);
                .ps-name {
                    margin: 0;
                    font-size: 16px;
                    font-weight: bold;
                }
                .ps-detials {
                    font-size: 15px;
                    font-size: 15px;
                    line-height: 1.5;
                    height: 50px;
                    margin-top: 5px;
                }
                .heart-icon-style {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                }
                .ps-followers {
                    font-size: 14px;
                }
            }
            
        }
    }
}